
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ankiety | Dodaj ankietę</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            var nr = ($('#pytanieFieldset').children('input').length) - 4;
            $('#dodajOdp').click(function () {
                var elem = $('#odp_' + nr)[0];
                var elname = elem.name;
                var elnum = nr + 2;
                if (elnum <= 10) {
                    var odpnum = 'odp_' + elnum;
                    var inputstr = "<label>Odpowiedź " + elnum + ": </label><input type='text' id=" + odpnum + " name=" + odpnum + " required class='odpowiedz' /><br>";
                    $("#pytanieFieldset").append(inputstr);
                    nr++;
                }
                else {
                    alert('Nie można dodać wiecej niż 10 odpowiedzi!');
                }
            });

            $('#dodajPyt').click(function (event) {
                if ($("#nazwaF")[0].checkValidity()) {
                    form = $(this).parent().parent();
                    $.ajax({
                        type: "GET",
                        url: '/Ankiety/ZapiszAnkiete',
                        data: form.serialize(),
                        success: function (response) {
                            $('#dodajPyt').hide();
                            $('#idNowej').val(response);
                        }
                    });
                    $('#dod_pytanie').show();
                } else alert("Podaj nazwę!");
            });

            $('#zapiszPyt').click(function (event) {
                if ($("#pytanieF")[0].checkValidity()) {
                form = $(this).parent();
                $.ajax({
                    type: "POST",
                    url: '/Ankiety/ZapiszPytanie',
                    data: form.serialize(),
                    success: function (response) {
                        $('#pytanieFieldset').children('input').each(function () { $(this).val("") });
                        $('#idNowej').val(response);
                        alert('Pytanie dodane poprawnie');
                        
                    }
                    });
                } else alert("Uzupełnij pola!");   
            });
            $('#usunOdp').click(function (event) {
                $('#pytanieFieldset').children('input').last().remove();
                $('#pytanieFieldset').children('label').last().remove();
                $('#pytanieFieldset').find('br').last().remove();
                nr--;
            });
        });
    </script>
</head>
<body>
    <header>
        <h1> Dodaj ankietę</h1>
        <div class="action_buttons">
            <a href="/Account/LogOut">
                <div class="button">
                    Wyloguj
                </div>
            </a>
        </div>
    </header>
    <div class="dod_ankiete_form">
    <form id="nazwaF" method="post">
        <div class="odpowiedzi-form">
            <fieldset>
                <label>Nazwa ankiety: </label>
                <input type="text" name="nazwaAnkiety" value="" required class="odpowiedz" />
                <br />
            </fieldset>
            <input type="button" id="dodajPyt" value="Dodaj pytanie" class="wyslij_btn" />
        </div> 
     </form>

    <div id="dod_pytanie" style="display:none;">
        <form id="pytanieF" method="post">
            <div class="odpowiedzi-form">
                <fieldset id="pytanieFieldset">
                    <input id="idNowej" type=hidden value="ID_ANKIETY" name="id_ankiety" />
                    <label>Treść pytania: </label>
                    <input type="text" name="pyt1" value="" required class="odpowiedz" />
                    <br />
                    <label>Można zazanczyć wiecej niż jedną odpowiedź </label>
                    <input type="checkbox" name="wielo" class="odpowiedz" />
                    <br />
                    <label>Odpowiedź 1: </label>
                    <input type="text" id="odp_1" name="odp_1" required class="odpowiedz" />
                    <br />
                    <label>Odpowiedź 2: </label>
                    <input type="text" id="odp_2" name="odp_2" required class="odpowiedz" />
                    <br />
                </fieldset>
                <input type="button" id="dodajOdp" value="Dodaj odpowiedź" class="wyslij_btn" />
                <input type="button" id="usunOdp" value="Usun odpowiedź" class="wyslij_btn" />
            </div>
            <input type="button" id="zapiszPyt" value="Zapisz pytanie" class="save_button" />
            <br />
            <a href="/" />Zakończ dodawanie ankiety</a>
        </form>
    </div>
    </div>
</body>
</html>


