@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pobieranie danych z Bazy</h1>
    <p class="lead">kek, to  chyba działa :D</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>TESTY WIDOKÓW</h2>
        <p>
            HIT THE BREAKS!!!!
            <br />
            <br />
            Nazwy dostępnych ankiet:
            <br />
            <br />
            @ViewBag.TEST1
            <br />
            <br />
            @ViewBag.TEST2
        </p>
    </div>
</div>