@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ankiety | Lista ankiet</title>

</head>
    <body>
        <header>
            <h1> Lista ankiet </h1>
            <div class="action_buttons">
                <div class="button">
                    <a href="#">Zaloguj</a>
                </div>
            </div>
        </header>

    <div class="ankiety_lista">
        Lorem ipsum dolor sit amet
        <div class="ankieta_rekord">
            <div class="ankieta_nazwa">Ankieta1</div>
            <div class="wypelnij_btn">Wypełnij</div>
        </div>
    </div>
</body>
</html>
