@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ankiety | Lista ankiet</title>

</head>
<body>
    <header>
        <h1> Lista ankiet </h1>
        <div class="action_buttons">
            <div class="button">
                <a href="#">Nowa ankieta</a>
            </div>
            <div class="button">
                <a href="#"> Nowe pytanie</a>
            </div>
            <div class="button">
               <a href="#">Wyloguj</a>
            </div>
        </div>
    </header>

    <div class="ankiety_lista">
        <div class="ankiety_lista">
            @foreach (var ankieta in @ViewBag.ListaAnkiet)
            {
                <div class="ankieta_rekord">
                    <div class="ankieta_nazwa">@ankieta.NazwaAnkiety</div>
                    <a href="/Ankiety/Wyniki/@ankieta.IdAnkiety"> <div class="wypelnij_btn">Wyniki</div></a>
                </div>
            }
        </div>
    </div>
</body>
</html>