@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ankiety | Potwierdzenie wysłania ankiety</title>

</head>
<body>
    <header>
        <h1> Potwierdzenie wysłania ankiety</h1>
    </header>
    <div class="ty_message">
        Dziękujemy, twoje odpowiedzi zostały zapisane.
    </div>
    <div class="lista_link">
        <a  href="/Ankiety/ListaAnkiet">Przejdź do lsity ankiet</a>
    </div>
</body>
</html>

