@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ankiety | Wyniki ankiety</title>
</head>
<body>
    <header>
        <h1> Wyniki ankiety 'nazwa ankiety' :</h1>
        <div class="action_buttons">
            <div class="button">
                <a href="#">Nowa ankieta</a>
            </div>
            <div class="button">
                <a href="/Account/LogOut">Wyloguj</a>
            </div>
        </div>
    </header>
    <h2>Nazwa ankiety</h2>
    <div class="wyniki_lista">
        <h3>Pytanie 1</h3>
        <table>
            <thead>
                <tr>
                    <th>Odpowiedź</th>
                    <th>Procent odpowiedzi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Odpowiedz 1</th>
                    <th>20 %</th>
                </tr>
                <tr>
                    <th>Odpowiedz 2</th>
                    <th>20 %</th>
                </tr>
                <tr>
                    <th>Odpowiedz 3</th>
                    <th>20 %</th>
                </tr>
                <tr>
                    <th>Odpowiedz 4</th>
                    <th>20 %</th>
                </tr>
                <tr>
                    <th>Odpowiedz 5</th>
                    <th>20 %</th>
                </tr>
            </tbody>
        </table>
        <div class="wykres">
            Tu będzie wykres
        </div>
    </div>
</body>
</html>

