
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Ankiety | Wyniki ankiety</title>
</head>
<body>
    <header>
        <h1> Wypełnij ankietę :</h1>
        <div class="action_buttons">
            <div class="button">
                <a href="#">Wróć</a>
            </div>
        </div>
    </header>
    <div class="ankieta">
    <h2>Ankieta 1</h2>
    <form method="post">
        <fieldset>
            <h3>Pytanie 1</h3>
            <div class="odpowiedzi">
                <select name="pytanie1" size="5">
                    <option value="odp1">Odpowiedź 1</option>
                    <option value="odp2">Odpowiedź 2</option>
                    <option value="odp3">Odpowiedź 3</option>
                    <option value="odp4">Odpowiedź 4</option>
                    <option value="odp5">Odpowiedź 5</option>
                </select>
            </div>
            <h3>Pytanie 2</h3>
            <div class="odpowiedzi">
                <select name="pytanie2" size="5">
                    <option value="odp1">Odpowiedź 1</option>
                    <option value="odp2">Odpowiedź 2</option>
                    <option value="odp3">Odpowiedź 3</option>
                    <option value="odp4">Odpowiedź 4</option>
                    <option value="odp5">Odpowiedź 5</option>
                </select>
            </div>
            <h3>Pytanie 3</h3>
            <div class="odpowiedzi">
                <select name="pytanie3" size="5">
                    <option value="odp1">Odpowiedź 1</option>
                    <option value="odp2">Odpowiedź 2</option>
                    <option value="odp3">Odpowiedź 3</option>
                    <option value="odp4">Odpowiedź 4</option>
                    <option value="odp5">Odpowiedź 5</option>
                </select>
            </div>
        </fieldset>
        <input class="wyslij_btn" type="submit" value="WYŚLIJ">
    </form>
    </div>

</body>
</html>